[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "concat"]
	path = concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "apache"]
	path = apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "puppet"]
	path = puppet
	url = https://github.com/puppetlabs/puppetlabs-puppet.git
[submodule "apt"]
	path = apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "ssh"]
	path = ssh
	url = https://github.com/spiette/puppet-ssh.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/puppetlabs/puppetlabs-dashboard.git
[submodule "passenger"]
	path = passenger
	url = https://github.com/puppetlabs/puppetlabs-passenger.git
[submodule "firewall"]
	path = firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
