[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "concat"]
	path = concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "apache"]
	path = apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "puppet"]
	path = puppet
	url = https://github.com/puppetlabs/puppetlabs-puppet.git
[submodule "apt"]
	path = apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "ssh"]
	path = ssh
	url = https://github.com/jbouse/puppet-ssh.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/puppetlabs/puppetlabs-dashboard.git
[submodule "passenger"]
	path = passenger
	url = https://github.com/puppetlabs/puppetlabs-passenger.git
[submodule "firewall"]
	path = firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "account"]
	path = account
	url = https://github.com/jbouse/puppet-account.git
[submodule "ntp"]
	path = ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "sudo"]
	path = sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "nrpe"]
	path = nrpe
	url = https://github.com/proletaryo/puppet-nagios-nrpe.git
[submodule "openvpn"]
	path = openvpn
	url = https://github.com/jbouse/puppet-openvpn.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/akumria/puppet-postgresql.git
[submodule "puppetdb"]
	path = puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb.git
[submodule "nullmailer"]
	path = nullmailer
	url = https://github.com/jbouse/puppet-nullmailer.git
[submodule "snmp"]
	path = snmp
	url = https://github.com/razorsedge/puppet-snmp.git
[submodule "locales"]
	path = locales
	url = https://github.com/attachmentgenie/puppet-module-locales.git
